    /* Video de fondo */
   #video-fondo {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  filter: brightness(0.7) blur(8px);
}

    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      color: #f0f6fc;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
      text-align: center;
      position: relative;
      min-height: 100vh;
      z-index: 1;
    }

    .profile-pic {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid #ff0b0b;
      margin-bottom: 1rem;
      box-shadow: 0 0 15px #ff020299;
      background: #0d1117;
      cursor: pointer;
    }

    .profile-pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      font-size: 2.5rem;
      margin: 1rem 0 0.5rem;
    }

    p {
      color: #8b949e;
      margin-bottom: 2rem;
    }

    .social-links {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;
      max-width: 360px;
    }

    .social-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem 1.2rem;
      color: white;
      text-decoration: none;
      border-radius: 12px;
      font-weight: bold;
      font-size: 1.2rem;
      transition: transform 0.2s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px #00000055;
      border: 2px solid transparent;
    }

    .social-button:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px #ffffff55;
    }

    .instagram {
      background: linear-gradient(135deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    }

    .tiktok {
      background: linear-gradient(135deg, #000000, #25f4ee, #ff0050);
    }

    .youtube {
      background: linear-gradient(135deg, #ff0000, #cc0000);
    }

    .facebook {
      background: linear-gradient(135deg, #3b5998, #1877f2);
    }
    
      .WhatsApp {
      background: linear-gradient(135deg, #04ef3f, #04ef3f);
    }

    .icon {
      width: 36px;
      height: 36px;
    }

    footer {
      margin-top: 3rem;
      font-size: 0.85rem;
      color: #8b949e;
    }

    /* Modal QR */
    .modal {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.75);
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    .modal-content {
      background: #000000;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      text-align: center;
    }

    .modal-content img {
      width: 250px;
      height: 250px;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 1.5rem;
      color: #ffffff;
      cursor: pointer;
    }